[2014-05-03 09:25] krishnasrinivas commented on #4
Can you the latest code? Also added new package 'waitpid' dependency.

[2014-05-03 22:14] terryschen commented on #4
Hi krishnasrinivas,

Pulled the new code and looks like it works. No more SSH defunct no matter how I login / logout of wetty.

Thanks!
Terry

[2014-08-01 04:33] krishnasrinivas commented on #7
yeah damn! do you know of a way other than changing the profile picture?

[2014-08-01 18:45] krishnasrinivas commented on #7
I have changed my profile picture, you can share the github link now!

[2014-08-11 03:18] krishnasrinivas commented on #8
I am unable to reproduce this issue. It is working as expected.
Can you do console.log(sshhost) before this line in app.js:
term = pty.spawn('ssh', [sshuser + sshhost, '-p', sshport, '-o', 'PreferredAuthentications=' + sshauth], {

See if it points to HostA or HostB, you could put console.log()s at appropriate places to see whats happening. Let me know if you think there is a bug.

[2014-08-12 20:56] omniproc commented on #8
Looking at the code, I saw the line:
if (process.getuid() == 0) {....

and realized that when running as root, it will ALWAYS run /bin/bash - no matter what parameters are passed. Knowing this, the documentation reads compleatly different ^^
I think it would be good to state this fact even more clear :-)

So, consider this as a "documentation improvement suggestion" - and keep up the great work :+

[2014-08-26 14:27] krishnasrinivas commented on #9
I am using docker 1.2.0 and it works fine for me. Can you check with latest docker?

[2014-09-15 03:36] krishnasrinivas commented on #9
@zoobab shall I close the bug?

[2014-09-23 07:27] zoobab commented on #9
Will try on docker 1.2.0 and give you my feedback.

[2015-02-18 09:37] krishnasrinivas commented on #12
Will check it soon.

[2015-02-24 23:53] j-bennet commented on #9
I still have this issue. Docker version 1.5.0, build a8a31ef, on Linux Mint 13.

[2015-03-24 14:42] krishnasrinivas commented on #12
I suspect it might be fixed with this PR https://github.com/krishnasrinivas/wetty/pull/13
Can you confirm?

[2015-03-24 14:44] krishnasrinivas commented on #9
@nathanleclaire did you ever hit this problem?

[2015-04-02 06:32] nathanleclaire commented on #9
I haven't- @j-bennet @zoobab which image(s) and commands are you running which give you get this result?  What is your host setup like?  Any VPN or firewall?  `nathanleclaire/wetty` with a similar command works for me.  Tested on Mac/Windows with a VM running boot2docker.

[2015-04-06 23:12] j-bennet commented on #9
I am using the dockerized version and the following command:
  sudo docker run --rm --name term -p 3000 -it nathanleclaire/wetty

This is my Docker version:
  Docker version 1.5.0, build a8a31ef

I am on Linux Mint 13, using VPN. Here is my ifconfig output:

docker0   Link encap:Ethernet  HWaddr 56:84:7a:fe:97:99
          inet addr:172.17.42.1  Bcast:0.0.0.0  Mask:255.255.0.0
          inet6 addr

[2015-04-07 00:16] nathanleclaire commented on #9
@j-bennet Hm... that command works for me on boot2docker VM.  If you run wetty natively with `node app.js -p 3000` from the source does it work?

Also, please try `docker rmi nathanleclaire/wetty` and run the docker command you mentioned again.

[2015-04-07 17:16] j-bennet commented on #9
@nathanleclaire I tried and I can't run it natively. This is what I did:

[code]

And this is the error I get:
![wetty-ssh-error](https://cloud.githubusercontent.com/assets/637013/7028986/bfe643bc-dd0e-11e4-9a5b-e43c26a48186.png)

[2015-04-08 07:45] krishnasrinivas commented on #9
@j-bennet it's giving 'connection refused' as you are not running ssh-server at port 22 on your localhost. Can you try @nathanleclaire's other suggestion of doing 'rmi' and re-running?

[2015-04-13 20:41] j-bennet commented on #9
@krishnasrinivas Yes, I actually tried that suggestion first. I got the same "Cannot make/remove an entry..." error as before.

[2015-06-14 17:31] krishnasrinivas commented on #19
Can you do:
cd /home/vagrant
npm install pty.js

can you see if it installs pty.js in /home/vagrant/node_modules/pty.js?

[2015-06-14 17:50] howardroark commented on #19
Yup. That seemed to work out.

[code]

[code]

[2015-06-14 20:44] krishnasrinivas commented on #19
weird, can you check if any of the suggestions here https://github.com/TooTallNate/node-gyp/issues/363 fixes this?

[2015-06-15 00:00] howardroark commented on #19
Tried just about everything mentioned...
- Tried building node on a fresh system
- Tried downgrading Python 2.6 and then building node
- Tried installing NVM/node on a fresh system

Same things happens each time.  You can see the system I'm using by downloading this gist.

https://gist.github.com/howardroark/25550e799297fafb3b94

It just downloads the official vagrant image from ubuntu and install

[2015-06-15 07:31] krishnasrinivas commented on #19
For some reason things fail with node 0.12 I was able to get it working with 0.10.31 here
http://nodejs.org/dist/v0.10.31/node-v0.10.31-linux-x64.tar.gz
Can you check with this version? (Also do a 'npm install -g node-gyp' )

[2015-06-15 14:56] howardroark commented on #19
I was able to get it installed that way :) Though I had to install each dependency on it's own after the install before I could run `app.js`.

[2015-06-15 17:44] howardroark commented on #19
So yeah... only works with node 0.10.x. I tried io.js 1 & 2 as well.  Very odd.  You know though... I wonder if Ubuntu precise is the better release to work with anyway.  Considering it is likely to be getting more bug fixes due to it's wider adoption.

[2015-06-15 21:02] howardroark commented on #19
Happens on Ubuntu 12.04 as well. Must be something to do with Node+Python+Ubuntu

[2015-06-15 21:03] krishnasrinivas commented on #19
2c65241 will fix this issue but the side effect is it will cause #4 (because of https://github.com/chjj/pty.js/issues/58) but I think it's better to live with a few zombie processes than fail on node 0.12

[2015-06-15 21:24] krishnasrinivas commented on #19
@howardroark latest code should work fine regardless of the ubuntu/node version, can you verify and close this issue? (you will need to git clone this repo and not do 'npm install wetty' from the NPM repo)

[2015-06-15 22:02] howardroark commented on #19
Yup, that worked!  You can push the update to NPM :+1:

Also... Is there any way to avoid needing to verify the host and enter a password?

[2015-06-16 05:07] krishnasrinivas commented on #19
you can setup passwordless ssh using pub/pvt keys. (as wetty uses ssh to connect)

[2015-06-16 14:09] howardroark commented on #19
@krishnasrinivas thanks... Is this data supplied at the point where `app.js` is initiated?

[2015-07-09 19:51] krishnasrinivas commented on #20
Does windows ptys support *nix terminal emulation? I have no idea. Maybe you can explore and see if a PR is possible.

[2015-07-09 19:57] Slind14 commented on #20
pty.js is an inactive project. Not even pull reqs are being considered for months. There is an open pull req which adds windows support (https://github.com/chjj/pty.js/pull/111) and there is a "maintained" fork, too: https://github.com/JamesMGreene/node-partty
But I already stated that, so I'm not entirely sure what you mean. :(
If you mean if it is wrapping the windows terminal with the nix layou

[2015-07-09 21:03] krishnasrinivas commented on #20
Sorry, by "window ptys" I meant "windows virtual terminals", not pty.js.
Basically linux has virtual terminals (/dev/pts/0,1,2,4) and terminal emulators (xterm/konsole etc) to talk to the virtual terminals, the protocol being defined by the environmental variable TERM (which can be vt100, vt102, xterm, etc)
I don't know how wetty's terminal emulator will behave when it talks to a windows terminal.

[2015-07-10 11:33] krishnasrinivas commented on #21
Tab completion should work. what server are you running wetty on? Linux/mac? what command do you use to start the wetty? what is the browser you use?

[2015-07-10 11:35] krishnasrinivas commented on #22
What server are you running wetty on (linux/mac)? what is the node version? what is the command used to start wetty?

[2015-07-10 12:03] mgckind commented on #21
Thanks for the quick reply,

I'm using the docker image through boot2docker in a mac and Google Chrome.
Every time I press tab it goes back to the browser's navigation bar,  Maybe
I'm missing something very basic

Thanks again
On Jul 10, 2015 6:33 AM, "Krishna Srinivas" notifications@github.com
wrote:

[2015-07-10 12:17] krishnasrinivas commented on #21
Does pressing tab take you to address bar only in wetty terminal? or during
general browsing of pages too?
Also can you try with Firefox? (you'll need to use latest version of nutty
for it to work with FF)

On Fri, 10 Jul 2015 at 17:33 Matias Carrasco Kind notifications@github.com
wrote:

[2015-07-10 12:22] mgckind commented on #21
During general browsing,  but it does work with term.js through terminado
though.  I'll try Firefox

Thanks
On Jul 10, 2015 7:17 AM, "Krishna Srinivas" notifications@github.com
wrote:

[2015-07-10 14:05] alexmwu commented on #22
tried on OSX 10.10.2 and Amazon AMI with the same command:
`sudo node app.js -p 3000`
Running v0.12.2 and v0.10.36, respectively.
The ec2 instance just shows a blank black terminal with the red cursor, but OSX also gives an error: `exevp(3) failed.: No such file or directory`

[2015-07-14 09:24] LaKing commented on #22
Same here with fedora 22, ...

When starting as root, I only get the red cursor, and this error message, ...

[2015-07-14 09:58] krishnasrinivas commented on #22
Let me check with a fedora 22

[2015-07-14 12:00] krishnasrinivas commented on #22
@LaKing you get this error only as root? what about as a regular user? when you execute it as root it tries to execute /bin/login - can you see if /bin/login exists?

@alexmwu are you executing as root or a regular user? if you are root /bin/login should exist, if you are a regular user 'ssh' needs to be in path.

[2015-07-14 12:53] LaKing commented on #22
As regular user on a normal system, I can run wetty fine.
I updated my fedora system, and now it seems I can run it as root with a normal root login.

On a fedora that has not been updated in the last two weeks, it produces this problem with normal root login. It also produces these results with error messages when running via sudo, even with the latest updates.

All systems run node v 0.10.36 - s

[2015-07-14 14:28] krishnasrinivas commented on #22
@LaKing ah, ok.
@alexmwu i see that you are using sudo. Can you check if /bin/login exists on mac?

[2015-07-15 03:49] alexmwu commented on #22
On OSX, running as a regular user gives a `Connection refused` error on wetty.

There is no /bin/login on mac. There is, however, /usr/bin/login. Also, above, what do you mean by 'ssh' needs to be in the path? Do you mean sshd?

[2015-07-15 05:58] krishnasrinivas commented on #22
In that case in app.js just replace /bin/login with /usr/bin/login
'Connection refused' indicates ssh is in the path, but sshd server is not running on your mac.

[2015-07-17 03:49] alexmwu commented on #22
Hey, thanks a lot. This works now. I still need to run with sudo, however. Otherwise, I still get a `Connection refused error`. Both ssh and sshd are in the path. Any ideas on that?

[2015-07-17 14:17] krishnasrinivas commented on #22
you can google for "how to start ssh server on mac" - that should fix your "connection refused" problem

[2015-07-17 18:29] Slind14 commented on #20
I couldn't get it to work, sorry. :(
https://github.com/JamesMGreene/node-partty/issues/2

[2015-07-24 18:20] the-destro commented on #21
ah ha! I am having this issue as well. If I look at the console when trying to tab complete I get this error:
hterm.js:1161 Uncaught TypeError: Cannot set property shiftKey of [object Object] which has only a getter

[2015-07-24 20:49] mgckind commented on #21
It never worked for me, it happened only in a Mac, not a in a Linux box

[2015-07-24 21:14] the-destro commented on #21
I seem to have it fixed. One of my docker images had an old version.

[2015-07-28 12:38] krishnasrinivas commented on #21
@mgckind It looks like the problem got fixed for @the-destro  by updating the version. Can you check with latest this latest docker image -> krishnasrinivas/wetty

[2015-07-29 02:09] mgckind commented on #21
Yes, it was the version in dockerhub. I've updated it and works fine. Thanks!

[2015-08-04 07:02] thefallentree commented on #26
![image](https://cloud.githubusercontent.com/assets/1256464/9055062/c47473a0-3ab9-11e5-8e5e-6fc124db149b.png)

[2015-08-04 07:21] krishnasrinivas commented on #26
Can you check if this is your issue https://github.com/krishnasrinivas/wetty/issues/21

[2015-09-04 20:27] krishnasrinivas commented on #28
your ssh server might be configured not to allow root login. you can verify by trying to login using the ssh command "ssh -l root <serverip>" can you check?

[2015-09-07 21:09] johnchristopher commented on #28
I can login as root from other clients.

[2015-09-30 21:53] krishnasrinivas commented on #30
@schmimat good to know that wetty is running fine. closing this issue.

[2015-09-30 22:24] krishnasrinivas commented on #28
not sure what's going on, can you put console.log() statements here https://github.com/krishnasrinivas/wetty/blob/master/app.js and check?

[2015-09-30 22:24] krishnasrinivas commented on #26
No response, closing.

[2015-10-01 07:06] schmimat commented on #30
Hi,
sorry for reopen, but to compile in the file package.json the version of pty.js had to be set to 0.3.0.
Can you change it in the file?
"pty.js": "^0.2.7-1", --> "pty.js": "^0.3.0-1" or so

Best regards Matthias

[2015-10-03 16:50] tinkernels commented on #28
http://serverfault.com/a/345247
hope this help.

[2015-11-05 22:27] krishnasrinivas commented on #32
It's a good idea to use socket.io, is it possible for you to send a pull-request that uses socket.io? else I can make that change.

[2015-11-06 02:50] jarrettgilliam commented on #32
I could give it a shot, but I'm not really a node.js developer, or even a javascript developer for that matter.

[2015-11-06 03:50] krishnasrinivas commented on #32
You can give it a shot

[2015-11-09 16:33] harrysummer commented on #32
@jarrettgilliam Hi, I just implemented a Socket.IO communication of wetty for my personal use. Check it out here if you are interested: https://github.com/harrysummer/wetty

[2015-11-09 17:07] jarrettgilliam commented on #32
Will do. Thanks @harrysummer.

[2015-11-12 22:01] krishnasrinivas commented on #33
You can use http://linux.die.net/man/1/script

[2015-11-13 02:57] ssitbiz commented on #33
I am streaming web socket conversation into file. Thanks for your reply

[2015-11-17 23:03] henrikkorsgaard commented on #30
@schmimat :+1:  What Matthias said -- took me a while to track down the issue before changing the pty.js version in package.json

[2015-11-21 10:02] krishnasrinivas commented on #36
pty.js compilation is failing, I will check it with node-4
Also can you check by doing git clone? instructions are in the README

[2015-11-21 14:38] vpo92 commented on #36
Thanks for your anwser.
I try with git clone and it works !

[2015-11-23 07:33] krishnasrinivas commented on #35
you can comment this line in `wetty.js` :
term.prefs_.set('ctrl-v-paste', true);

[2015-11-23 07:36] krishnasrinivas commented on #36
I have updated the npm version too. closing this.

[2015-11-23 07:37] krishnasrinivas commented on #33
OK, closing this.

[2015-11-23 07:37] krishnasrinivas commented on #32
e496251772a54b4e814404725d0f4a592989e82e fixes this

[2015-11-23 07:38] krishnasrinivas commented on #28
i will close this as there is not enough information to fix this.

[2015-11-23 07:40] krishnasrinivas commented on #9
@j-bennet still having this issue?

[2015-11-23 19:50] j-bennet commented on #9
I just tried the docker image again, this time on Mac with docker-machine. I don't have the same error. However, when I browse to {docker container IP}:3000, Firefox says "Connecting...", never connects, then spits out a "The connection has timed out" page.

[2015-12-30 20:10] krishnasrinivas commented on #39
umm, wetty does not have the feature of logging commands.

[2016-02-03 08:57] meepeek commented on #44
Debian is now using systemd so it should be placed in /etc/systemd/system/[scriptName].service

Example file content is as follow:

[code]

[2016-02-08 16:26] jarrettgilliam commented on #45
Hi Merlijn,

Wetty supports all browsers that Google's hterm supports. As far as a complete list of supported browsers, I couldn't find one. From looking at the [changelog](https://chromium.googlesource.com/apps/libapps/+/master/hterm/doc/changelog.txt?autodive=0%2F#181), it appears Firefox and IE support was added in April of 2014. In [the code](https://github.com/krishnasrinivas/wetty/blob/maste

[2016-02-09 16:39] merlijn-sebrechts commented on #45
Thanks Jarett!

I created pull request https://github.com/krishnasrinivas/wetty/compare/master...galgalesh:patch-1 to include this info in the `README.md`. Is this something you'd be open to merge? Maybe it is better to wait a bit to see if anyone can link a more official source..?

Kind regards
Merlijn

[2016-02-09 17:01] jarrettgilliam commented on #45
I don't have the authority to merge pull requests. I'm just a lowly follower :). You would have to ask @krishnasrinivas.

[2016-02-09 17:14] krishnasrinivas commented on #45
@jarrettgilliam would you have time to be a collaborator for wetty? If so I can add you as a [collaborator](https://help.github.com/articles/adding-collaborators-to-a-personal-repository/) and you can take decisions on what can be merged into wetty. I am a bit held up at work to dedicate time here.

[2016-02-09 20:03] jarrettgilliam commented on #45
I think I have enough time to help out. That sounds great. I'm not really sure what your goals are for Wetty or if you have any sort of road map. That's something we should probably talk about so we're on the same page.

[2016-02-10 08:29] krishnasrinivas commented on #45
OK great. The goal of wetty will be to remain simple and bug free. Let's not accept feature pull-requests unless it's really required. I will leave it to your discretion. I have added you as a collaborator.
There is no road map.

[2016-02-10 14:19] jarrettgilliam commented on #47
The tmux copy and paste feature uses it's own clipboard (buffers), not system ones. Is this a feature you've seen before?

[2016-02-10 14:28] jdloft commented on #47
The Secure Shell app (https://chrome.google.com/webstore/detail/secure-shell/pnhechapfaindjhompbnflcldabbghjo?utm_source=chrome-app-launcher) also uses hterm and mirrors anything copied via tmux. And since the scissor icon displays it seems hterm may be receiving/detecting the paste.

[2016-02-10 14:45] merlijn-sebrechts commented on #45
https://github.com/krishnasrinivas/wetty/pull/48

[2016-02-22 14:23] krishnasrinivas commented on #21
Hey krishnasrinivas/wett,

Discover high quality jobs and connect with recruiters on LinkedIn.

- Krishna

Accept invite: https://www.linkedin.com/e/v2?e=0-iky2pxog-c9&t=ssuw&ek=invite_guest&li=14&m=invite_guest&ts=india_a&sharedKey=i6K5FWfC&invitationId=6107539864545222656

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our members in features l

[2016-12-20 06:17] tturbs commented on #9
Anyone have solution of this?
I got same error on it.

[2017-03-22 14:48] BenoitDuffez commented on #20
Did you try `screen /dev/whatever 115200`? It worked out of the box for me with a ttyUSB created by an FTDI device

[2017-06-01 11:17] dsaikiran commented on #9
Can anyone help me?

On Ubuntu, it's working fine, but in CentOs7 after proving credentials it displayed: "Cannot make/remove an entry for the specified session"

[2017-06-20 18:23] Strubbl opened #4 "docker build . failes with error /app/node_modules/pty.js: Command failed."
i run the command `docker build -t strubbl_wetty .` but that fails with the following error message. Does anybody have an idea why? As @butlerx already told me per mail, it builds successfully on docker hub. But why not on my local machine?

The yarn command fails:

[code]

[2017-06-21 17:42] Strubbl commented on #4
I found this issue https://github.com/yarnpkg/yarn/issues/2266
And it took me to think about what i did in past. In April i already built this container. And now i just pulled your recent wetty changes. Since we use node:boron, i was installing the docker container back in May. unfortunately the line "from node:boron" does not pull the latest node:boron release. Thus i still have the node:boron re

[2017-06-21 17:42] #4 closed

[2017-06-21 17:42] Strubbl opened #7 "Reconnect vs. CTRL+W safe guard"
Use case:
- open wetty
- log in
- log out
- see the overlay with reconnect button
- hit the reconnect button

What i now get is an alert popup asking me if i really want to leave the page. What i expected to get was the login prompt without a confirmation popup before.

PR #1 and PR #3 seem to work against each other. Is it possible to supress the altert popup when using the reconnect button?

[2017-06-21 18:16] butlerx commented on #4
A good catch
For future building with `--no-cache` will pull the latest image

[2017-06-21 18:20] butlerx opened #8 "Closing window should disconnect"
Ssh connections to the server are left open  of the user closes the windows without disconnecting first

[2017-06-22 09:16] butlerx opened #9 "remove event listener for ctrl+w once user has logged out"
if the reconnect screen is displayed there's no need to protect against ctrl w

[2017-06-22 11:07] butlerx commented on #7
this should be fixed in the last commit can you confirm @Strubbl

[2017-06-22 11:07] butlerx commented on #9
fixed in https://github.com/butlerx/wetty/commit/43c4d041c4871283ba0b19b4add654463ebd8c6a

[2017-06-22 11:07] #9 closed

[2017-06-22 12:47] Strubbl commented on #9
yeah, this issue is the same as #7 i think

[2017-06-22 12:48] Strubbl commented on #7
The dockerfile needs some love. I am going to fix that and test it.
Any reason why you switched to alpine?

[2017-06-22 12:53] Strubbl commented on #7
No, it does not work. I get the prompt. Then i type my login user in and hit ENTER. Then the disconnect overlay appears instead of the password prompt

[2017-06-22 13:21] Strubbl commented on #7
I have installed wetty to a subdir wetty/. You introduced a lot of different changes with your last one big commit. Maybe you can split that up a bit, so that i can identify the change, that causes the problem?

[2017-06-22 13:47] butlerx commented on #7
didnt actually mean to switch, i accidentally commited file that id had on my local copy, going to be switching to branches and prs going forward i think.

[2017-06-22 13:48] butlerx commented on #7
also what debugging did i remove? the console.log ?

[2017-06-22 14:31] butlerx commented on #7
@Strubbl think i see the new problem, really shouldn't have committed that dockerfile big mistake on my part should be fixed in #11

also to answer why i was playing with alpine, i had wanted to switch to make the container smaller and since i assume most people who would use the container would be using it to connect to a different host

[2017-06-22 14:34] butlerx opened #12 "replace perl ssh warpper with bash or node wrapper"
the perl script was something quick i wrote just to have a proof of concept. id rather have one in node or sh

[2017-06-22 14:51] Strubbl commented on #7
yes. that was what i used to see in which function/block i was

[2017-06-22 14:59] Strubbl commented on #7
I just tried the latest commit 6280719c70385e0c6b0cb7170661f17ccef8e37c and if i add openssh to this as a dependency, it works. This is issue is fixed then. Thank you.

So if #11 gets merged, i think this issue can be closed.

[2017-06-22 15:08] Strubbl commented on #12
Is it also possible to get rid of the python dependency? Then docker image would get even smaller

[2017-06-22 15:15] butlerx commented on #12
Not as easily as python is being used as a build depdency by one of the node dependencies but I'll have a look anyway

[2017-06-22 15:37] butlerx commented on #7
#11 should have fixed this

[2017-06-22 15:37] #7 closed

[2017-06-22 15:40] butlerx opened #13 "update build process"
bit of a personal thing but im not a fan of grunt.
id also not like to have hterm in the repo as its an external dep.
- [x] replace grunt with gulp or webpack
- [x] add babel so front end can be es6
- [ ] add build process to docker

[2017-07-04 19:53] weq opened #17 "Issues using ALT keys in applications like irssi"
CTRL+AD for disconnecting screens etc and CTRL keys works fine within other terminal applications.

Anyone else that can reproduce this? My main reason for using Wetty is so that I have access to my irc client through proxies etc. Until then I just have to live with the workaround I guess ( /windows N )

[2017-07-04 19:59] butlerx commented on #17
could you tell me what browser you are using?
if its chrome the issue is probably that the browser itself takes any input from alt itsself for its own shortcuts

[2017-07-04 20:05] weq commented on #17
Chrome, Edge & IE all acts the same. It has worked with previous versions of wetty that used to run on node 4. But all wetty versions on node 6 have had this same issue.

I brought it up on https://github.com/krishnasrinivas/wetty/issues/81 but the build from freeeflyer behaves the same. From what I also remember was the previous builds also had a right click menu which allowed you to select betwe

[2017-07-04 20:15] butlerx commented on #17
alright thanks ill have a look
im trying to update hterm currently but thats breaking edge support

[2017-07-04 20:18] weq commented on #17
cheers :) let me know if you need additional testing at some point and I'll be glad to assist in any manner I can.

[2017-08-11 12:30] plato79 opened #19 "hanging ssh sessions."
Hi,

I am using wetty via nginx to connect to my NAS server..
I assigned its' own domain name ( tty.domain.com instead of domain.com/wetty ) and using SSL security with nginx web server..

While it works perfectly, after a few runs I saw a lot of hanging tcsh and ssh sessions in task list. What could be the cause? I didn't saw any problems but after a while it would be a big problem..

[2017-08-11 13:26] butlerx commented on #19
Yeah this is a problem ive noticed and run in to, if the user closes the tab without closing the shell the ssh connection will stay open because closing a tab doesn't kill the term, this may have been fixed in #18 but i haven't had a chance to test it yet.

[2017-08-11 18:27] nosemeocurrenada commented on #19
Just tested it, it wasn't fixed. Fixed it adding a `term.destroy();` line just after the term.end (); in wetty.js:72
So now my 'disconnect' handler looks like this
[code]

It wasn't closing because term.end calls the net.Socket.end() function which does not close the socket
([https://nodejs.org/api/net.html#net_socket_end_data_encoding]())
I don't know if this behavior was intended by the pty.js d

[2017-08-11 22:11] butlerx commented on #19
i think that using `term.kill()` might be better then `term.destroy()`

[code]

[2017-08-12 05:08] nosemeocurrenada commented on #19
`term.destroy()` calls `term.kill()`
[https://github.com/chjj/pty.js/blob/master/lib/pty.js#L357](https://github.com/chjj/pty.js/blob/master/lib/pty.js#L357)

[2017-08-12 08:22] butlerx commented on #19
ah yes i missed that

[2017-08-14 20:02] butlerx commented on #12
perl was replaced with a sh script in https://github.com/butlerx/wetty/commit/2d8f9624c9d39f0e5ca02924259bc83f233b6570

[2017-08-14 20:02] #12 closed

[2017-08-14 20:03] #13 closed

[2017-08-14 20:27] butlerx commented on #19
thanks for doing the research @nosemeocurrenada thats been added now

[2017-08-14 20:27] #19 closed

[2017-08-14 20:28] butlerx commented on #8
see #19

[2017-08-14 20:28] #8 closed

[2017-08-14 20:45] butlerx commented on #17
hey @weq could you tell me if this is still an issue on the latest build. it seems to be working for me

[2017-08-15 12:19] plato79 opened #20 "Cursor moves around"
I don't know if it's just me because while this is not a big issue it's annoying and should be detected by someone else before..

After successfully connecting via SSH, for example if I list directory contents with "ls -al" I find the cursor blinking at the beginning of the prompt, or if I hit enter, the blinking cursor stays up. With other programs it also moves around to wherever it wants. The w

[2017-08-15 12:24] plato79 opened #21 "Bottom line sometimes disappears"
After running some command sometimes bottom line is not visible so I cannot see the command I write. Hitting enter fixes the problem.

It is most visible when quitting from "vi". The damned blinking cursor stays on ":" (https://github.com/butlerx/wetty/issues/20) but actually the prompt is at the bottom of the screen but not visible. Hitting enter reveals two prompt lines with the red cursor appea

[2017-08-15 18:33] butlerx commented on #20
second cursor has been removed

[2017-08-15 18:33] #20 closed

[2017-08-15 18:34] butlerx commented on #21
@plato79 ive not been able to replicate  this can you give me some more information

[2017-08-15 19:36] plato79 commented on #21
I tried to replicate it at home, but it seems with Windows 10 and Chrome, there's no problem.. But at work we are still using Windows 7 and with Chrome the bottom of the screen sometimes disappears..

[2017-08-23 12:32] plato79 opened #22 "Some editors display garbled text"
Hi,

I don't think I had this error before. But I couldn't find the cause yet.

When I enter this command:
`sudo nano /usr/local/etc/nginx/nginx.conf`

The output is like this:

http://imgur.com/oQ5EUpz

And when I use PgDn, PgUp it becomes more corrupt by the second. Some text just stuck at the left while screen is scrolling..

I also saw the same thing happen with "ee". With "ne" there's no prob

[2017-09-04 18:30] butlerx commented on #22
sorry for slow response im looking into this but have had issues replicating could you give me some info about your browser?

[2017-09-05 04:51] plato79 commented on #22
I'm using chrome v58.0.3029.81

[2017-09-05 16:36] nosemeocurrenada commented on #22
Yeah I sometimes get the same with nano, it gets fixed by closing and reopening the file.
Using chrome v60.0.3112.113 (64bits)

[2017-09-05 19:52] butlerx commented on #22
ive been able to replicate it with weechat and will be looking in to it

[2017-10-22 08:09] mirtouf commented on #22
Confirmed also with Firefox 55.

[2017-10-22 11:20] butlerx commented on #22
was able to reproduce with nano.
I believe it was an issue with how I was passing data to the socket.
i believe it to be patched now

[2017-10-22 14:33] mirtouf commented on #22
Sorry, these commits introduced the possibility to start wetty

[code]

[2017-10-22 14:52] butlerx commented on #22
sorry i used to running everything in docker i may just revert that

[2017-10-22 14:54] mirtouf commented on #22
By the way the original intent of the commit is a success, no more garbled text in firefox 55 & 56.

[2017-10-22 14:57] butlerx commented on #22
thanks, ill be reverting the async code to a promise

[2017-10-22 14:57] #22 closed

[2017-10-22 15:25] butlerx commented on #17
closing due to lack of response will reopen if still an issue

[2017-10-22 15:25] butlerx commented on #21
could you check if this is still an issue it may have been related to #22

[2017-10-23 20:28] plato79 commented on #21
Well, I still couldn't reproduce the error but the problem about #22 still happens, even at home with Windows 10 and chrome.

[2017-10-23 20:57] plato79 commented on #22
Latest commit fixed the error. I'll try to check if #21 exists now.

[2017-10-25 11:22] plato79 opened #26 "Cannot write @ symbol with keyboard.."
Ok, this one is a little weird... I'm using Turkish Q keyboard, and the "@" character is generated by AltGr+Q instead of Shift+2 as in English keyboard. The thing is it doesn't work with wetty. Instead of that I'm using Alt+64 and it generates "[@" instead of "@". Why, I don't know.. In nano it's weirder.. If I press AltGr+Q it says "[ Unbound key: M-^Q ]". If I press Alt+64 it gives the message "

[2017-10-25 13:49] Strubbl commented on #17
i can reproduce this issue.
my scenario is the following:

1. login in wetty
2. connect to my other server via ssh
3. resume screen session
4. try to switch channels in irssi via ALT+Number, ALT+2 or ALT+3 etc.

That does not work and instead prints the number to the chat field

[2017-10-25 20:49] Strubbl commented on #26
i have a german keyboard where the @ is also produced via AltGr+q, but i cannot reproduce the error. Which OS and Browser (version) are you using?

[2017-10-26 04:51] plato79 commented on #26
FreeNAS 11 and Chrome 58.0.3029.81

[2017-10-26 07:20] mirtouf commented on #26
Chrome is the culprit, no problem with Firefox but I encounter the same problem with Chrome and a french layout (Alt Gr + 0).
Unlike Ctrl-T and Ctrl-W which are intercepted for browser actions, I do not explain why Chrome puts this error in the console:
[code]

[2017-10-26 11:34] plato79 commented on #26
If what you meant was "}" by AltGr+0 I found that it doesn't work too today when I tried to type a "find -exec mv" command..

[2017-10-26 19:19] butlerx commented on #26
thanks or the insights ill have a look this weekend

[2017-12-08 02:44] johnroyer opened #28 "Broken layout"
When open htop for a while, the screen become a mass :

![2017-12-08 10 31 54](https://user-images.githubusercontent.com/114491/33748421-6a70c8f2-dc03-11e7-89c4-f57eabdf53d0.png)

After I type `Ctrl+L` to reset the screen, it goes well again :

![2017-12-08 10 34 35](https://user-images.githubusercontent.com/114491/33748450-94658b20-dc03-11e7-8784-ff89f70221c7.png)

----

More information:

- wett

[2018-01-08 07:30] butlerx commented on #28
Sorry slow response can you test with v0.5

[2018-01-08 10:55] johnroyer commented on #28
`v0.5.0` fixed this issue. Thanks.

But it come with another problem. I will open a new issue.

[2018-01-08 10:55] #28 closed

[2018-01-08 11:02] johnroyer opened #30 "Error: ioctl(2) failed"
I add wetty bootstrap script into crontab:

[code]

After reboot, I will see error message on the web page:
[code]

And `run.log` will see another message:
[code]

But if I manually invoke this command, everything goes well.

Is it possible a config error ?

----

wetty version: `v0.5.0`

[2018-01-08 11:29] butlerx commented on #30
it seems to be an error calling the shell prompt that is used as a wrapper to ssh. I was actually just looking at removing that, coincidentally.
ill have a look now

[2018-01-08 11:51] johnroyer commented on #30
Let me know if you need someone to test. Thanks.

[2018-01-08 12:13] butlerx commented on #30
thanks.
 ive just tagged v.0.5.1 which pay patch the issue for the minute but ive had no luck replicating it so replacing the shell script will be best

[2018-01-08 12:42] johnroyer commented on #30
I update to `v0.5.1` and rewrite my script:

[code]

It works fine using a root account, but It still have the same problem while using general account.

[2018-01-08 12:45] butlerx commented on #30
alright thanks for the feedback

[2018-01-11 06:26] plato79 commented on #26
Is there any updates to this subject? I still have the same problem.

[2018-01-11 08:21] butlerx commented on #26
sorry got a bit distracted made very little progress which is what prompted me to look at xterm in #29

[2018-01-16 12:32] E3V3A opened #31 "Maintenance and Diff"
Hi!
Thanks for keeping this updated and trying to maintain.
What is the current plan and status of this? How does it differ from [the original](https://github.com/krishnasrinivas/wetty) at this moment?

[2018-01-19 11:39] butlerx commented on #31
no problem.

this fork has most of its changes based on the front end trying to make hterm work better for people such as rendering errors and browser support.
its also had the server changed to try and make it more modular so it can be a package and well as a binary.
there's also additional work done on making it easier to run from docker and other OSes.
An ssh wrapper that prompts for login rath

[2018-02-13 17:02] t3chn0m4g3 commented on #30
@butlerx I am experiencing the same problem as @johnroyer. However, I was able to fix it by running `index.js`from the base folder which leads to my problem that the browser presents me with a password dialog but the entered password is not accepted.

I would like to assist further if necessary, is there a debug switch I can enable? The console log does not show any errors, just normal start and e

[2018-02-21 11:54] #31 closed

[2018-02-21 14:28] mirtouf opened #32 "Release 1.0.0: syntax error on startup with nodejs 6.13.0"
Hi,

I just tried the fresh new release and starting the app is impossible with nodejs 6.13.0:
[code]
Can it be related with the nodejs version ?

[2018-02-21 14:35] butlerx commented on #32
yes, this would be to do with version let me see if I can find a good minimum version and set it in the package.json

[2018-02-21 14:52] butlerx commented on #32
ok ive changes how prettier formats the code and it should be compatible with node 6 at a minium

[2018-02-21 15:10] mirtouf opened #33 "Release 1.0.1: 404 errors with main.css and main.js"
Hi (again),

using the reverse proxy setting provided for nginx doesn't work as it leads to 404 errors for main.css and main.js.
Is it possible to update the README.md file or to provide input for a PR ?

Cheers,
Cyril

[2018-02-21 15:19] butlerx commented on #33
hey ( again :smile: I was expecting quite a few issues from edge cases)

let me see if I can see whats wrong with the config and then give some input

[2018-02-21 15:29] butlerx commented on #33
can you try applying these changes to your version to see if it fixes it
[code]

[2018-02-21 15:34] mirtouf commented on #33
I still have 404 errors.

[2018-02-21 16:16] butlerx commented on #33
in your nginx do you have a section like
[code]

[2018-02-21 16:19] mirtouf commented on #33
Nothing like this, should I add it ?

[2018-02-21 16:20] butlerx commented on #33
no in my config it was taking precedence from the proxy

[2018-02-21 16:52] butlerx commented on #33
ok found it
[code]
this config is what got it for me to get it  running localy

[2018-02-21 17:15] mirtouf commented on #33
Do you confirm this section is only needed for getting the reverse proxy working ?
For my case, I still have 404 errors. Can http/2.0 be another source of problem ?

[2018-02-21 17:20] butlerx commented on #33
sorry, i don't really understand.
this was all i needed to get the proxy working after making a default conf with https://nginxconfig.io/?domain=$%7BNGINX_DOMAIN%7D&index_html&php=off&file_structure=modularized#!%3Fhttps&cdn&index_html

maybe some nginx logs could help

[2018-02-21 17:29] mirtouf commented on #33
I am still running with 404 errors with above config:
[code]

[2018-02-21 17:34] butlerx commented on #33
could you pull the latest build and run with `NODE_ENV=development` and see if the access logs in wetty say

[2018-02-21 17:43] mirtouf commented on #33
Seems to be the same:
[code]

[2018-02-21 17:45] butlerx commented on #33
yep so ive been a complete idiot and forgot to had a postinstall step sorry
can you run yarn build

[2018-02-21 17:50] mirtouf commented on #33
No more 404 errors but there is something for which I need to figure out on login screen (extra @):
[code]

[2018-02-21 17:54] butlerx commented on #33
could i get some info about your host, what os?

[2018-02-21 17:58] mirtouf commented on #33
It is Debian 9 arm64 (up to date) using nodejs v8 and yarn from publisher repository.

[2018-02-21 20:46] butlerx commented on #33
right after switching through a few oses I've found this to manifest in a few different ways but its due to how different os'es handle sh
will be working on that this week. if anyone has any errors they should stick with v0.5.0

[2018-02-22 09:57] butlerx commented on #32
based off #33 i assume this is closed

[2018-02-22 09:57] #32 closed

[2018-02-22 10:00] butlerx commented on #33
closeing this as #34 and moving the login issue two its own issue

[2018-02-22 10:00] #33 closed

[2018-02-22 10:08] butlerx opened #35 "login prompt not reliable depending on os"
the prompt for usernames fails as sh is handled differently on different oses.

possible solutions are to implement a buffer in node that can handle the users interactions and store the results. possible issues would be handling key combinations such as ctrl+c
another possible solution is to check what shells are available and only use sh as a fall back

[2018-02-23 07:12] mirtouf commented on #35
Hi,
as a first mitigation measure, I would prefer the latter one but using a dedicated option in the executable script while launching wetty.

[2018-02-25 13:19] butlerx commented on #35
I've added a interim solution that is basic buffer that seems to work on debian and alpine linux

[2018-02-25 17:30] mirtouf commented on #35
Dirty indeed, works only on amd64 systems.

[2018-02-25 19:31] butlerx commented on #35
/me facepalms

yep that was an oversite wont work on osx or bsd either

[2018-02-25 19:40] butlerx commented on #35
again I've committed a bit of a hack
but this is more a proof  of concept as I'm having difficulty converting the sockets event emitter to a stream to be used by readline

[2018-02-25 19:50] mirtouf commented on #35
Tested, the hack works for me.

[2018-02-25 19:52] butlerx commented on #35
:+1: hope to have this properly implemented in the next while but this will do for now

[2018-03-11 12:18] fmunch opened #36 "/ssh/user does not work anymore"
Hello,

I was using Wetty 0.5.1. Calling `http://host:3000/ssh/myuser` would not prompt for a user and use `myuser` directly.

Since 1.0.1 (and probably 1.0.0 too) this does not work anymore. I end up with this instead:

[code]

You can find the logs below (I added some more in the code).

[code]

Apparently the `address` function in `command.mjs` finds the username as expected, but the default ex

[2018-03-11 15:16] fmunch commented on #36
Btw, this seems to fix the issue (but isn't necessarily the best way to do it):

[code]

[2018-03-11 15:20] fmunch opened #37 "No focus on user/password prompt"
Hello,

Since 1.0.0 / 1.0.1 the user prompt and the password prompt at the beginning do not have the focus. I have to click somewhere in the page to be able to type the username or the password.

Minor issue, but annoying.

Thank you.

[2018-03-11 15:36] #36 closed

[2018-03-11 15:38] butlerx commented on #36
thanks solution was basically it just needed both checks

[2018-03-11 16:46] butlerx commented on #37
thanks for pointing that out i actually hadn't noticed

[2018-03-11 16:46] #37 closed

[2018-03-11 21:18] butlerx commented on #30
this should no longer be an issue with v1.0.0, feedback appriciated

[2018-03-12 09:32] mirtouf opened #38 "[v1.0.0+] Copy Paste issue (mostly with Firefox)"
Hi,

In Firefox v58, selecting text for copying it is possible with the mouse but when right-clicking for pasting, this is no more possible as the menu does not contain the paste item. This problem does not occur in Chrome v64+.
I do not see errors in the developer's console.

For all browsers, it seems Ctrl+C and Ctrl+V is no more possible, is it an intended behaviour (Ctrl+C currently binds to S

[2018-03-12 09:34] mirtouf commented on #26
From my point of view, this issue is fixed in versions v.1.0.0+.

[2018-03-12 09:44] mirtouf opened #39 "[v1.0.0+] Screen return not correctly handled"
Hi,

with Firefox and Chrome, when a screen session is exited, the return is done at the top of the page meaning that all past entered commands are still visible and will lead to display garbage text while new commands are entered. Expected behaviour is to have the return of screen session at the bottom of the page (like with hterm.js).

[2018-03-12 09:45] butlerx commented on #38
ctrl+c and ctrl+v should be handled like a terminal, so ctrl+shift+v and ctrl+shift+c , should copy and paste.
ill have a look at the right click. now

[2018-03-12 10:02] butlerx commented on #39
sorry im a little confused to what behaviour you are referring

[2018-03-12 10:05] mirtouf commented on #39
To have a clear understanding:
- open a session in wetty
- enter some commands with output
- open a screen session
- exit screen session Ctrl-A-D
- enter new command (result will de displayed at top of the page)

[2018-03-12 10:06] mirtouf commented on #38
I missed to indicate in my issue, Ctrl-Shift-C (and V) is no more working in Firefox, sorry.

[2018-03-12 10:37] butlerx commented on #39
sorry im still not really understanding could you post a screen recording or screenshots?

[2018-03-12 10:52] mirtouf commented on #39
First, typing some commands before entering screen session
![capture1](https://user-images.githubusercontent.com/5165058/37279644-a9c8865c-25eb-11e8-8819-b3e792ce3ec6.PNG)

After exiting screen session (back to the top of the page)
![capture2](https://user-images.githubusercontent.com/5165058/37279647-a9edab80-25eb-11e8-89b2-c287ad366419.PNG)

[2018-03-12 10:52] butlerx commented on #38
confirmed that this happens in my own ff will loo in to it

[2018-03-12 11:05] butlerx commented on #38
i see to be able to copy just not paste

[2018-03-12 13:04] butlerx commented on #39
Thanks

[2018-03-12 20:03] butlerx commented on #38
so this seems to be a issue with firefox https://github.com/xtermjs/xterm.js/issues/292

[2018-03-14 13:56] johnroyer commented on #30
Error above: `Error: Error: ioctl(2) failed.`  is no longer shown on v1.0.3

[2018-03-14 17:31] butlerx commented on #30
Perfect

[2018-03-14 17:31] #30 closed

[2018-03-14 18:17] jaypadath opened #40 "Install issue"
Hi, I have cloned the source and installed yarn. But yarn related commands are not working for me:
japadath@japadath:~/butlerx/wetty$ yarn
ERROR: There are no scenarios; must have at least one.
japadath@japadath:~/butlerx/wetty$ sudo yarn
[sudo] password for japadath:
ERROR: There are no scenarios; must have at least one.
japadath@japadath:~/butlerx/wetty$ yarn -g add wetty.js
Usage: yarn [options

[2018-03-16 10:56] mirtouf commented on #40
Hi,

which version of yarn are you using ?

[2018-03-17 12:04] jaypadath commented on #40
yarn --version
0.22

[2018-03-17 12:13] butlerx commented on #40
that yarn is quite out of date. try upgrading to one higher than 1.0.0.
you also don't need to do `yarn -g add wetty.js` or `npm install -g wetty.js` if you are installing from GitHub, you just need to run
[code]
or
[code]
while in the repo directory

[2018-03-18 17:22] jaypadath commented on #40
Okay thanks. I have upgraded yarn version to 1.5.1 and now ssh is working with my local host on Ubuntu 16.04 system.

Is it possible to use Wetty directly in to one of my project ? Front end is angular js and node js packaging is used to connect to remote host. My requirement is to create a new page with a terminal embedded in it and I should be able to ssh to host with specific port.

From browse

[2018-03-18 17:45] butlerx commented on #40
it should be possible though ive not done it. if you put the following in a div
[code]
wetty wasnt designed for that so the css might need to overridden in parts but the javascript should work

[2018-03-18 18:57] jaypadath commented on #40
Okay thanks. The problem is like I am not able to figure out how to integrate wetty into my project. In a particular folder I have installed wetty. I already have a separate npm server running. While installing some packages like "@std/esm" my current package is getting corrupted.

Also just by adding the div as overlay did not work for me.

[2018-04-05 18:16] nosemeocurrenada commented on #40
I'm using wetty integrated in a web.

In the html I have
`<iframe height='100%' width='100%' id='contentFrame' src=''>Iframe not supported</iframe>`

then in the js i have a function that receives the connection url from the server and change it like this
` $("#contentFrame")[0].src = connectionUri;`

and it works just fine.

In the backend I just give wetty the connection data and it opens the se

[2018-04-26 12:38] santosh0705 commented on #35
Using `readline` for getting username is a bad idea. You have to do lot more work to get the correct input in buffer. You have to consider cursor movement as well. Check with moving cursor and press enter and check what you are getting...

I would like to suggest running a wrapper script for shh.
This is how I had done once with shellinabox:

[code]

[2018-04-29 17:16] santosh0705 commented on #35
I would like to suggest a HTML popup instead. This could be tied to an websocket event and it appear on when event is emitted from the server.

[2018-05-04 06:54] santosh0705 commented on #35
I started [Xterm Express](https://github.com/santosh0705/xterm-express) from scratch and solved this problem without having any additional dependency or running any external process. Have a look on my project.

[2018-05-04 07:45] butlerx commented on #35
In the fork. You appear appear to use login on the root rather then ssh. This won't work for the use case I'm working towards as I need it to spawn an ssh to another host rather then this host

[2018-05-04 09:55] santosh0705 commented on #35
This is always possible. In config file I've demonstrated 2 services: one is `login` and second is `ssh`. The demonstrated services are local to the system but it is not limited to. You need to create your own services as per your requirement. I tried to make the commands user configurable that's why the commands are not hardcoded in the code. Edit the` config.json` as per your requirement. You ca

[2018-05-07 08:56] kotamahesh commented on #22
how to set ssh path and can we provide default root login without user credientials ???like user name and password .using ssh keys

[2018-06-18 12:07] plato79 commented on #26
recently it worked for a while.. and then it is not working yet again after an update to chrome. Wish I'd have noted the version number when it worked.

[2018-06-18 12:10] plato79 opened #41 "Can it be used for socks connection?"
Not really an issue but is there any way to improve on this to provide us with a socks proxy through connected SSH server?

[2018-06-22 11:19] butlerx commented on #26
since this is now dependent on xterm.js we an update to the xterm dependency may solve it

[2018-07-09 09:42] Apollon77 opened #42 "Is wetty.js a drop in replecament for wetty?"
Hi ,

I found your package while searching for a compatible version of wetty also for node 10 and is seems that wetty is not really manitained :-(

I have an existing Project (https://github.com/ioBroker/ioBroker.wetty/) ... is wetty.js (also being a rewrite) a drop in replacement or what do I need to change when coming from wetty originally?

Thank you for an advice/Info

[2018-07-09 10:37] butlerx commented on #42
wetty.js is a drop in replacement. recently enough though I did a full rewrite of it to remove the dependency on hterm.

I tried to keep the interface, cli and env variables as unchanged as possible.

I've also recently been given write access to the original repo and will be merging version v.0.5.1 of this repo in to it as that is the last version before i removed hterm

[2018-07-09 10:39] butlerx commented on #41
I don't really think that would be possible as this just renders a terminal and spawns an ssh session on the server if you have got an idea on how to do it though I'm open to it.

Sorry slow reply( life happens)

[2018-07-09 10:48] Apollon77 commented on #42
Thank you for this fast answer!
Our project additionally uses "pty.js" to spawn the used process (login shell or a ss one), so I think we need to change that to use xterm too?
(https://github.com/ioBroker/ioBroker.wetty/blob/master/main.js#L127)

[2018-07-09 10:53] butlerx commented on #42
xterm.js is just for browser rendering.

if you want to replace pty.js you should use node-pty as i did here https://github.com/krishnasrinivas/wetty/pull/123

[2018-07-10 20:15] Apollon77 commented on #42
Hm ... but it seems because of the switch to xterm I need to change things ... our code directly loads from the public directory the hterm.js

see https://github.com/ioBroker/ioBroker.wetty/blob/master/public/index.html#L7

... how should I change this?

Thank you for an advice

[2018-09-10 12:55] ulno opened #44 "ANSI OSC 52 support possible?"
I recently stumbled upon https://medium.freecodecamp.org/tmux-in-practice-integration-with-system-clipboard-bcd72c62ff7b mentioning ANSI OSC 52 characters to store something in a terminal in the system clipboard.

I am planning to use your wetty fork in an educational IoT project to make access to a shell running on a raspberry pi for students as painless as possible. I run midnight commander as f

[2018-09-29 11:39] mirtouf opened #45 "Is wetty still buildable with only yarn (version > 1.10) ?"
Hi,

I upgraded yarn to version 1.10.1 and for some reason using the common process
``yarn
``
``yarn build
``
does not create the index.js file

As a dirty workaround I had to run
``
npm install
``
prior to using yarn.

Are there missing commands in the build instructions ?

[2018-10-14 07:03] butlerx commented on #44
sorry for slow responce, ive not read much about osc52 but im happy to look in too it.
is there any reason that just selecting text and copying doesnt work
you should be able to use `ctrl`+`shift`+`c` to copy and `v` to paste

[2018-10-14 07:05] butlerx commented on #45
what file is missing?

[2018-10-14 08:14] mirtouf commented on #45
I retried with only yarn and... all went fine.
I did not what happened the first time, I close this issue then.

[2018-10-14 08:15] #45 closed

[2018-10-14 09:47] butlerx commented on #42
with xterm you only need to import the compiled js blob as done here.
https://github.com/butlerx/wetty/blob/master/public/index.html#L18

[2018-11-27 11:23] heatmiser commented on #9
Not sure if applicable to present code base running on CentOS7, however, prior to Oct 22, 2017 when app.js was still present and executed by the node entry point, this issue could be resolved by modifying the following line in /etc/pam.d/login
session    required     pam_loginuid.so
to
session    optional     pam_loginuid.so

[2018-11-28 15:48] glats commented on #39
Same here. Any news?

[2018-11-28 15:53] glats opened #47 "Poor font in Firefox"
Hi. After all, thanks for you work!
Well: firefox are rendering a poor font
![captura de pantalla de 2018-11-28 12-48-39](https://user-images.githubusercontent.com/4707766/49163673-64236b00-f30c-11e8-920d-ecabb0b198a1.png)
However chrome are displaying the fonts a little more nice
![captura de pantalla de 2018-11-28 12-49-34](https://user-images.githubusercontent.com/4707766/49163700-74d3e100-f30c

[2018-11-28 20:22] mirtouf commented on #39
As @butlerx has now the possibility to merge inside the original repo krishnasrinivas/wetty the development is more active in this repository.

[2018-11-29 17:57] glats commented on #39
@mirtouf but you cant run krishnasrinivas/wetty with the last source of nodejs. You have to use nodejs 4 to run it

[2019-01-12 22:09] butlerx commented on #39
they would be logged in the users shell history file, logging of the session is handled by the server

[2019-01-12 22:11] butlerx commented on #17
:+1: pr welcome if this is still required

[2019-01-12 22:14] butlerx commented on #42
i use tmux all the time with wetty, wetty also now uses xterm.js

[2019-01-30 17:00] piemjean commented on #28
I just had the same problem and solved it by launching wetty with an unprivileged user.
Hope this can help someone.

[2019-04-09 13:15] raulfg3 opened #49 "dockerized version do not work, Always show Cannot GET /"
same error that: https://github.com/svenihoney/docker-wetty-alpine/issues/2

[2019-06-10 14:04] butlerx commented on #49
are you building the container or using docker hub cant you.
iirc the containers default serves from `/wetty` rather then `/`

[2019-10-21 19:58] butlerx commented on #9
closing issue due to lack of recent activity.
if this is still an issue please reopen, and if @heatmiser suggestion works please feel free to open a pr documenting this